<div>
    {{#if free}}
    <a href="/newcompany" class="btn btn-info" style="text-align: right;">Create your own Event</a>
    {{else}}
    <div class="card">
        <div class="card-header">
            Current Event
        </div>
        <div class="card-body">
            <h5 class="card-title">Event Name: {{name}}</h5>
            {{!-- <p class="card-text">Role:{{role}}</p> --}}
            <p class="card-text">Period:{{joiningdate}}---Present</p>
            <form action="/compdash/{{id}}" method="GET">
                <button type="submit" class="btn btn-success">View event Details</button>
            </form>
        </div>
    </div>
    {{/if}}
    <a href="/history" class="btn bg-danger " style="text-align: right;">Let's Check Past User
        History</a>
    <a href="/allcomp" class=" btn bg-primary " style="text-align: right;">Let's Check All Events</a>

</div>