<table class="table">
  <thead>
    <tr>
      <th scope="col">Event Name</th>
      {{!-- <th scope="col">Role</th> --}}
      <th scope="col">Period</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td>{{this.company.name}}</td>
      {{!-- <td>{{this.role}}</td> --}}
      {{#if this.resignationdate}}
            <td>{{this.joiningdate}}--{{this.resignationdate}}</td>
      {{else}}
              <td>{{this.joiningdate}} -- present</td>
      {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>